    <div class="row">
      <div class="span4">Sample</div>
      <div class="span8">
        <div class="hero-unit front">
          <h1>Learn Something.</h1>
          <p><a class="btn btn-primary btn-large" href="/new">
              Add a Friend
            </a>
          </p>
        </div>
      </div>
  </div>
