#container {
  margin-left: 10px;
}



.front h1, .front h2 {
  margin-left: 10px;
}

h1 a {
  color: #000;
  text-shadow: 1px 1px 1px #fff;
  text-decoration: none;
}

h1 a:hover {
  text-decoration: none;
}

nav {
  vertical-align: middle;
  margin-bottom: 10px;

}

.logo {
  display: inline-block;
  border-radius: 5px;
  background-color: rgb(180,31,28);
  padding: 0 2px;
  color: #fff;
  text-shadow: 0 0 0;
  box-shadow: 1px 1px 1px #fff;
}

nav ul {
  margin-bottom: 0;
}

nav ul li {
  display: inline;
  list-style: none;
  vertical-align: middle;
}

.sidebar {
  background-color: tan;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  margin: 10px;
  padding: 10px;
  background: rgb(201,222,150); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(201,222,150,1) 0%, rgba(138,182,107,1) 44%, rgba(57,130,53,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(201,222,150,1)), color-stop(44%,rgba(138,182,107,1)), color-stop(100%,rgba(57,130,53,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(201,222,150,1) 0%,rgba(138,182,107,1) 44%,rgba(57,130,53,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(201,222,150,1) 0%,rgba(138,182,107,1) 44%,rgba(57,130,53,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(201,222,150,1) 0%,rgba(138,182,107,1) 44%,rgba(57,130,53,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(201,222,150,1) 0%,rgba(138,182,107,1) 44%,rgba(57,130,53,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c9de96', endColorstr='#398235',GradientType=0 ); /* IE6-9 */
  margin-top: 0;

}

.sidebar ul li {
  display: block;

}

.sidebar ul li a {
  text-decoration: none ;
  color: maroon;
}

.sidebar ul li:hover {
  background-color: yellow;
}

article {
  display: inline-block;
  border: 1px solid black;
  margin: 10px;
  padding: 0 10px 10px 10px;
  background: #fff;

  -webit-box-shadow: 1px 1px 1px gray;
  -moz-box-shadow: 1px 1px 1px gray;
  box-shadow: 2px 2px 2px gray;

  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;

}

article h4 {
  margin-top: 0;
  margin-bottom: 0;
}

article p {
  margin-bottom: 0;
}

section {
  background: rgb(239,222,157);
  margin: 0 10px;
}

.entry {
  padding: 10px;
  background: #fff;
}

.video_info {
  border-left: 1px solid black;
  height: 315px;
  padding-left: 5px;
}


.form_buttons {
  display: inline;
}

.form-margin {
  margin: 10px 0;
}

.topnav {
  margin: 0 10px;
}

.front-orange {
  margin: 0 10px  ;
  background: rgb(255,197,120); /* Old browsers */
  background: -moz-linear-gradient(45deg,  rgba(255,197,120,1) 0%, rgba(251,157,35,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,rgba(255,197,120,1)), color-stop(100%,rgba(251,157,35,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(45deg,  rgba(255,197,120,1) 0%,rgba(251,157,35,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(45deg,  rgba(255,197,120,1) 0%,rgba(251,157,35,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(45deg,  rgba(255,197,120,1) 0%,rgba(251,157,35,1) 100%); /* IE10+ */
  background: linear-gradient(45deg,  rgba(255,197,120,1) 0%,rgba(251,157,35,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffc578', endColorstr='#fb9d23',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.front {
  margin: 0 10px;
  background: rgb(201,222,150); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(201,222,150,1) 0%, rgba(138,182,107,1) 44%, rgba(57,130,53,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(201,222,150,1)), color-stop(44%,rgba(138,182,107,1)), color-stop(100%,rgba(57,130,53,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(201,222,150,1) 0%,rgba(138,182,107,1) 44%,rgba(57,130,53,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(201,222,150,1) 0%,rgba(138,182,107,1) 44%,rgba(57,130,53,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(201,222,150,1) 0%,rgba(138,182,107,1) 44%,rgba(57,130,53,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(201,222,150,1) 0%,rgba(138,182,107,1) 44%,rgba(57,130,53,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c9de96', endColorstr='#398235',GradientType=0 ); /* IE6-9 */

  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  margin-top: 10px;
  /* background: rgb(212,228,243); */

}

footer {
  background: #000;
  color: #fff;
  margin: 0 10px;
}




.tutorialtube-navbar {
  margin-bottom: 0;
}

